<div class="w3-margin w3-full w3-border-top w3-border-dark-grey gt-flex-wrap">
  <span class="w3-hide-small" style="order:1;">
    <a class="w3-button" href="https://www.grammatech.com/about">About</a>
    <a class="w3-button" href="mailto:research@grammatech.com">Contact</a>
    <a class="w3-button" href="https://www.grammatech.com/careers">Careers</a>
  </span>
  <span class="w3-hide-medium w3-hide-large w3-center" style="order:1;flex:auto;text-align:center;">
    <a class="w3-button" href="https://www.grammatech.com/about">About</a>
    <a class="w3-button" href="mailto:research@grammatech.com">Contact</a>
    <a class="w3-button" href="https://www.grammatech.com/careers">Careers</a>
  </span>
  <span class="w3-right w3-hide-small" style="order:3;text-align:right;">
    <a class="w3-button" href="https://twitter.com/GrammaTech"><i class="fab fa-twitter"></i></a>
    <a class="w3-button" href="https://github.com/grammatech"><i class="fab fa-github"></i></a>
    <a class="w3-button" href="https://www.linkedin.com/company/grammatech"><i class="fab fa-linkedin"></i></a>
    <a class="w3-button" href="https://news.grammatech.com"><i class="fa fa-rss"></i></a>
  </span>
  <span class="w3-right w3-hide-medium w3-hide-large" style="order:3;flex:auto;text-align:center;">
    <a class="w3-button" href="https://twitter.com/GrammaTech"><i class="fab fa-twitter"></i></a>
    <a class="w3-button" href="https://github.com/grammatech"><i class="fab fa-github"></i></a>
    <a class="w3-button" href="https://www.linkedin.com/company/grammatech"><i class="fab fa-linkedin"></i></a>
    <a class="w3-button" href="https://news.grammatech.com"><i class="fa fa-rss"></i></a>
  </span>
  <span class="w3-center" style="order:2;flex:auto;text-align:center;">
    <a class="w3-button" href="https://www.grammatech.com">
      <img src="{{ "/img/grammatech-white.png"|url }}" alt="GrammaTech Homepage" height="36px">
    </a>
  </span>
</div>
