<div class="w3-margin w3-full w3-border-top w3-border-dark-grey">
  <span>
    <a class="w3-button" href="#TODO">Contact</a>
    <a class="w3-button" href="#TODO">Careers</a>
  </span>
  <span class="w3-right">
    <a class="w3-button" href="https://twitter.com/GrammaTech"><i class="fab fa-twitter"></i></a>
    <a class="w3-button" href="https://github.com/grammatech"><i class="fab fa-github"></i></a>
  </span>
</div>
