<div class="w3-hide-small">
  <a href="{{ "/"|url }}" class="w3-top">
    <img class="w3-image w3-left w3-margin" src="{{ "/img/grammatech-g.png"|url }}" width="60px">
  </a>
</div>
<div class="w3-hide-large w3-hide-medium">
  <a href="{{ "/"|url }}" class="w3-top">
    <img class="w3-image w3-padding-small w3-right" src="{{ "/img/grammatech-g.png"|url }}" width="40px">
  </a>
</div>
