<!DOCTYPE html>
<html>
  <head>
    {% include head %}
  </head>
  <body style="color: #bdc1c6; background: #202124;">
    <header>
      {% include g-link %}
    </header>
    <div class="w3-content w3-padding-large w3-margin-top gt-min-left-margin">
      <h1>{{ title }}</h1>
      <div class="w3-container">
        {% if prjs %}
        <div class="w3-right w3-third w3-border w3-padding w3-round">
          <h3>Projects</h3>
          <ul>
            {% for prj in prjs %}
            <li><a href="{{ "/prj/"|append: prj.slug|url  }}">{{ prj.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {{ content | safe }}
      </div>
    {% include bottom %}
    </div>
</body>
{% include bottom-js %}
</html>
