{% if supports %}
<div class="support">
  {% for s in supports %}
  <p>This material is based upon work supported by the {{ s.agencies|noOxfordComma }}
  under Contract No. {{ s.contracts|noOxfordComma }}.  Any opinions, findings and
  conclusions or recommendations expressed in this material are those
  of the author(s) and do not necessarily reflect the views of the
  {{ s.agencies|noOxfordComma }}.</p>
  {% endfor %}
</div>
{% endif %}
