{% if support %}
<div class="support">
  <p>This material is based upon work supported by {{ support.agencies|andList }}
  under Contract(s) No. {{ support.contracts|andList }}.  Any opinions, findings and
  conclusions or recommendations expressed in this material are those
  of the author(s) and do not necessarily reflect the views of
  {{ support.agencies|orList }}.</p>
</div>
{% endif %}
