<!DOCTYPE html>
<html>
  <head>
    {% include head %}
  </head>
  <body style="color: #bdc1c6; background: #202124;">
    <header>
      {% include g-link %}
    </header>
    <div class="w3-content w3-padding-large w3-margin-top gt-min-left-margin">
      <h1>{{ title }}</h1>
      <div class="w3-container">
        {{ content | safe }}
      </div>
    {% include bottom %}
    </div>
</body>
{% include bottom-js %}
</html>
